footer{
    background: var(--black-color);
    .footer-social a{
        i{
            font-size: 1.5rem;
            color: var(--white-color);
            padding: 0 1rem;
        }
        &:hover i{
            color: var(--primary-color);
        }
    }
    .newsletter{
        .form-control{
            height: 3.225rem;
            padding: 0 1.25rem;
            font-size: 0.875rem;
            width: 100%;
            border: none;
            border-radius: 0;
            background: transparent;
            border: 0.1875rem solid var(--white-color);
            color: var(--black-color);
            font-weight: 700;
            &:hover,:focus{
                box-shadow: none;
                outline: none;
                border-color: var(--primary-color);
            }
        }
        .main-btn{
            height: 3.225rem;
            padding: 0 1.25rem;
            font-size: 0.875rem;
            border-radius: 0;
            border: 0.1875rem solid var(--white-color);
            background-color: var(--white-color);
            color: var(--black-color);
            font-weight: 700;
            &:hover{
                border: 0.1875rem solid var(--primary-color);
                color: var(--black-color);
            }
        }
    }
}