.testimonial-section{
    background-color: var(--secondary-color);
    h2{
        color: var(--white-color);
    }
    .carousel-item{
        @include margin(top, 3);
        padding: 10rem 3.125rem;
        background-color: var(--black-color);
        border-radius: 0.9375rem;
        text-align: center;
    }
    .carousel-caption{
        img{
            border-radius: 50%;
            max-width: 5rem;
            padding: 0.3125rem;
        }
        p{
            font-size: 1.125rem;
            line-height: 1.5625rem;
            font-weight: 300;
            color: var(--white-color);
            padding: 0 11% 0.625rem;
        }
    }
    .carousel-indicators{
        bottom: -2.8125rem;
        button{
            border-radius: 50%;
            width: 15px;
            height: 15px;
            outline: none;
            border: none;
            margin-right: 1rem;
            opacity: 0.2;
            &.active{
                opacity: 1;
            }
        }
    }
}