@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* -*-*-*-* MIXIN -*-*-*-*-* */
@mixin general_Styling($size, $weight, $color, $transform, $font){
    font-size: $size;
    font-weight: $weight;
    color: $color;
    text-transform: $transform;
    font-family: $font;
}

@mixin transition($value){
    -webkit-transition: $value;
    -o-transition: $value;
    -moz-transition: $value;
    transition: $value;
}
/* -*-*-*-* -* MIXIN Using Interpolation -*-*-*-*-* */
@mixin margin($mrg_Position,$unit){
    margin-#{$mrg_Position}: $unit + rem;
}

*,
*:after,
*:before{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:active,
:hover,
:focus{
    outline: 0 !important;
    outline-offset: 0;
}
/* *-*-*-*-*- Extend *-*-*-*-*- */
a{
    text-decoration: none;
    &:hover{
        @extend a;
        color: var(--primary-color) !important;
    }
}

ul,
ol{
    margin: 0;
    padding: 0;
}

/* -------------- variable define --------------- */
:root{
    --primary-color:#FFC222;
    --secondary-color:#00a149;
    --white-color:#fff;
    --text-color:#b0b0b0;
    --black-color:#1E1D23;
    --primary-font:'Roboto', sans-serif;
    --secondry-font:'Quicksand', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--primary-font);
    font-size: 100%;
    font-weight: 400;
}

/*
===================================
        Custom Scrollbar
===================================
*/
::-webkit-scrollbar{
    width: 0.625rem;
}
::-webkit-scrollbar-track{
    background: var(--white-color);
}

::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}

/*
===================================
        Custom Style
===================================
*/
h1{
    @include general_Styling(58px, 900, var(--white-color), uppercase, var(--primary-font));
    @include margin(bottom, 1);
    /* 1rem = 16px */
    text-shadow: 1px 0 6px #000;
    span{
        color: var(--primary-color);
    }
}

h2{
    @include general_Styling(2rem, 700, var(--secondary-color), capitalize, var(--secondry-font));
    line-height: 3rem;
}
h4{
    @include general_Styling(1.125rem, 800, var(--secondry-color), capitalize, var(--secondry-font));
    @include margin(bottom, 0.5);
}
h5{
    @include general_Styling(1rem, 700, var(--black-color), capitalize, var(--secondry-font));
    @include margin(bottom, 0.5);
}
p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: var(--text-color);
    letter-spacing: 1px;
}
.main-btn{
    @include general_Styling(0.9375rem, 600, var(--black-color), capitalize, var(--primary-font));
    display: inline-block;
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    background-color: var(--primary-color);
    border: 0.1875rem solid var(--primary-color);
    border-radius: 0.5rem;
    box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
    @include transition(all .4s ease-out 0s);

    &:hover{
        background-color: transparent;
        color: var(--primary-color);
    }
}

.wrapper{
    padding-top: 4.25rem;
    padding-bottom: 4.25rem;
}

.text-content{
    width: 70%;
    margin: auto;
}
/*
===================================
        Header Style
===================================
*/
@import "header";

/*
===================================
        Home Style
===================================
*/
@import "home";
/*
===================================
        About Style
===================================
*/
@import "about";

/*
===================================
        Explore Food Style
===================================
*/
@import "explorefood";
/*
===================================
        Testimonial Style
===================================
*/
@import "testimonial";
/*
===================================
        Foter Style
===================================
*/
@import "footer";
